@page "/AddData"

<h3>Přidat Data</h3>

<!-- Tlačítko pro přidání Elo -->
<NavLink class="btn btn-primary" href="AddElo">Elo</NavLink>

<!-- Tlačítko pro přidání oznámení -->
<NavLink class="btn btn-secondary" href="AddOznameni">Zpráva</NavLink>

<!-- Tlačítko pro přidání hráče -->
<NavLink class="btn btn-success" href="add-player">Přidej Hráč</NavLink>

<!-- Tlačítko pro přidání proklikací tabulky -->
<NavLink class="btn btn-danger" href="AddProKlikaciTabulku">Přidej Proklikací Tabulku</NavLink>

<!-- Tlačítko pro přidání výsledků -->
<NavLink class="btn btn-warning" href="AddVysledek">Přidej Výsledky</NavLink>

<!-- Tlačítko pro přidání turnaje -->
<NavLink class="btn btn-info" href="AddTurnaj">Přidej Turnaj</NavLink>

<!-- Další obsah stránky pridatData -->